body{
    display: block;
    background-color: rgb(248, 239, 206);
    box-sizing: border-box;
}
.wrapper{
      display: flex;
      flex-direction: column;
      width: 1200px;
      margin: 0 auto;
      padding: 15px;
}

#logout{
      width: 100px;
      padding: 10px;
      font-weight: bold;
      font-family: sans-serif;
      color: #fff;
      border: none;
      cursor: pointer;
      background-color: rgb(85, 83, 83);
      font-size: 17px;
      border-radius: 5px;
      margin-top: 50px;
      transition: ease 0.4s;
      text-decoration: none;
}
#logout:hover{
    background-color: red;
}
li{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 22px;
    padding: 10px 7px;
    font-weight: 500;
    font-family: sans-serif;
    background-color: #000;
    color: #fff;
    width: 420px;
    box-shadow: 0px 1px  2px rgba(0,0,0, 0.8);
    border-bottom-left-radius: 0;
}

.header{
    text-align: center;
    font-family: sans-serif;
    color: black;
}
.message {
    padding: 13px;
    outline: none;
    font-size: 22px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 1px solid gray;
}